table {
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #ddd;
    padding: 8px;
}

tr:nth-child(even){background-color: #f2f2f2;}

tr:hover {background-color: #ddd;}

th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4c4c4c;
    color: white;
}

.container {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    font-family: Tahoma;
    font-size: 13px;
}

