body {
    background-color: #eeeeee;
}

.ui.main.container {
    background-color: white;
    padding: 20px;
    border: 1px solid #e0e0e0;
}

.ui.container.text {
    max-width: 780px !important;
}

.ui.main.container.text {
    background-color: white;
}

@media (min-width: 720px) {
    .ui.main.container {
        padding: 40px;
    }
}

.my_legend img {
    margin-left: 10px;
}
