<!DOCTYPE html>
<html>
<head>
    <title>Portfolio</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>

<div class="container">

    <ul class="menu">
        <li class=""><a href="#">Accueil</a></li>
        <li><a href="#">Photos</a></li>
        <li><a href="#">Contact</a></li>
    </ul>
    <div class="clear"></div>

    <div class="page" id="page_accueil" >
        <h2>Bienvenue sur mon site !</h2>
    </div>

    <div class="page" id="page_photos">

        <h2>Galerie photo</h2>

        <p>Cliquez sur une photo pour la voir en plus grand !</p>

        <div class="main-image">
            <img id="main-image" src="" alt="">
        </div>

        <div class="miniature">
            <img src="https://images.unsplash.com/photo-1504217051514-96afa06398be?crop=entropy&fit=crop&h=400&w=600" alt="">
        </div>
        <div class="miniature">
            <img src="https://images.unsplash.com/photo-1506260408121-e353d10b87c7?crop=entropy&fit=crop&h=400&w=600" alt="">
        </div>
        <div class="miniature">
            <img src="https://images.unsplash.com/photo-1466853817435-05b43fe45b39?crop=entropy&fit=crop&h=400&w=600" alt="">
        </div>
        <div class="miniature">
            <img src="https://images.unsplash.com/photo-1502786129293-79981df4e689?crop=entropy&fit=crop&h=400&w=600" alt="">
        </div>
        <div class="miniature">
            <img src="https://images.unsplash.com/photo-1484542603127-984f4f7d14cb?crop=entropy&fit=crop&h=400&w=600" alt="">
        </div>
        <div class="miniature">
            <img src="https://images.unsplash.com/photo-1506333438925-a6203045b492?crop=entropy&fit=crop&h=400&w=600" alt="">
        </div>
        <div class="clear"></div>
    </div>

    <div class="page" id="page_contact">
        <h2>Contactez moi !</h2>
        <form action="">
            Votre nom : <input type="text">
            Votre adresse email : <input type="text">
            Votre message : <br>
            <textarea name="message" id="message" cols="30" rows="10"></textarea>
            <input type="submit" value="Envoyer">
        </form>
    </div>

</div>

<div class="clear"></div>

</body>
</html>

