ul.menu {
    list-style-type: none;
    padding: 0;
}

.menu li {
    float: left;
    display: block;
    background: #1c1c1c;
    color: white;
    padding:10px;
    border: 1px solid white;
}

.menu li a {
    color: white;
    text-decoration: none;
}

.container {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    font-family: Tahoma;
    font-size: 13px;
}

form {
    padding-right: 20px;
}

label {
    display: block;
    padding: 8px 0;
}
input, textarea, button {
    width: 100%;
    padding: 6px;
    border: 1px solid lightgray;
    margin: 5px 0px 10px 0px;
}

.miniature {
    width: 200px;
    float: left;
    border: 1px solid lightgray;
    margin-right: 10px;
    margin-top: 10px;
    padding: 10px;
    cursor: pointer;
}

img {
    width: 100%;
}

.clear {
    clear: both;
}
